@font-face {
    font-family: Roboto;
    src: url('./public/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url('./public/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: initial;
}
@font-face {
    font-family: Roboto;
    src: url('./public/fonts/Roboto/Roboto-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: Roboto;
    src: url('./public/fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Roboto;
    src: url('./public/fonts/Roboto/Roboto-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url('./public/fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url('./public/fonts/Roboto/Roboto-Thin.ttf');
    font-weight: 200;
}

* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    background-color: #2D2D2D;
}